---
layout: archive
---


  
<!-- Header -->
<div id="header">
  <div class="top">
    {%- include logo.html -%}
    {%- include nav.html section_items=include.scrolly_nav -%}
  </div>
  <div class="tags">
    {%- include nav_tags.html -%}
  </div>
  <div class="bottom">
    <div class="mini bottom">
    <center>
      Let's connect!
    </center>
    </div>   
    {%- include social_icons.html -%}
  </div>
</div>


{{ content }}

{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}




<!-- Tags index  -->
<center>
  <h1> <i class="fa fa-tags"></i> Posts by Tag </h1>
</center>
<br>
<div class="tags-grid">
  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i %}
        <div class="tag-box">
          <a href="#{{ tag[0] | slugify }}">
            <i class="fa fa-tag"></i> <span class="tag-name">{{ tag[0] }}</span>
            <span class="tag-count">[{{ i }}]</span>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>


<!-- Entries list -->

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..tags_max) reversed %}
  {% for tag in site.tags %}
    {% if tag[1].size == i %}
      <section id="{{ tag[0] | slugify | downcase }}" class="taxonomy__section">
        <span class="archive__subtitle"> &nbsp; <i class="fa fa-tags"></i> &nbsp;{{ tag[0] }}</span>
        <div class="entries-{{ entries_layout }}">
          {% for post in tag.last %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="/tags/" class="back-to-top"> {{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}